:root {
  --dark-bg: #212721;
  --light-bg: #FFF;
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: #FFF;
  padding: 15px;
}

body.light-mode {
  background-color: var(--light-bg);
  padding: 15px;
}

a.dark-mode {
  color: #00853D;
  text-decoration: none;
}

a.light-mode {
  text-decoration: none;
}

.btn-group button {
  background: #00853D;
  border-radius: 2px;
  border: 1px solid #212721;
  color: white;
  margin: 1px;
  padding: 8px 16px;
  cursor: pointer;
  float: right;
}
